@{
    Layout = "/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row">
    <div class="col-md-3 bg-light">
        <div class="sticky">
            <div class="mt-2">
                @{await Html.RenderPartialAsync("_SearchUserBoxPartial", ViewData);}
            </div>

            <hr />
            @await Html.PartialAsync("_AdminManageNav")
        </div>
    </div>
    <div class="col-md-9">
        @await Html.PartialAsync("_GenericSiteNav")
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

