@{
    ViewData["Title"] = SharedLocalizer["Confirm email"];
}
<div class="container">
    <h2>@*@ViewData["Title"]*@</h2>
    <div>
        <p>
            <i class="text-success fa fa-2x fa-check-circle"></i> @SharedHtmlLocalizer["Congratulations, your account is now activated."]
        </p>
    </div>
</div>