@{
    ViewData["Title"] = SharedLocalizer["Forgot password confirmation"];
}
<div class="container bg-light">
    <h2>@ViewData["Title"]</h2>
    <p>
        @SharedHtmlLocalizer["Password reset link has been sent to your email. Please check your email to reset your password."]
    </p>
</div>