@{
    ViewData["Title"] = SharedLocalizer["Locked out"];
}
@await Html.PartialAsync("_GenericSiteNav")
<header>
    @*<h2 class="text-danger">@ViewData["Title"]</h2>*@
    <p class="text-danger">@SharedHtmlLocalizer["This account has been locked out, please try again later."]</p>
</header>
