@{
    ViewData["Title"] = SharedLocalizer["Reset password confirmation"];
}
<div class="container bg-light">
    <h2>@ViewData["Title"]</h2>
    <p>
        <i class="fa fa-2x fa-check-circle text-success"></i> @SharedHtmlLocalizer["Your password has been reset. Please click the login button to log in."] <a asp-action="Login">@SharedHtmlLocalizer["Log in"] </a>
    </p>
</div>