@{
    ViewData["Title"] = SharedLocalizer["Docs"];
}

<div class="container-fluid">
    @await Html.PartialAsync("_GenericSiteNav")

    @await Component.InvokeAsync("BlogList", new { viewName = "BlogListWithDetails" })
</div>