<nav class="breadcrumb mt-3">
    <a class="breadcrumb-item" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> @SharedLocalizer["Home"]</a>
    <span class="breadcrumb-item active">@ViewData["Title"]</span>
</nav>