<div class="carousel slide carousel-fade" id="carouselHomepage" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li class="active" data-target="#carouselHomepage" data-slide-to="0"></li>
        <li data-target="#carouselHomepage" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner bg-dark text-light">
        <div class="carousel-item active">
            <div class="jumbotron bg-transparent">
                <div class="container text-center">
                    <h1>Kontext Docu</h1>
                    <p class="lead">Docu is a ASP.NET Core 2.1 based Content Management Application. <br /> It is ported from the Kontext project.</p>
                    <p><a class="btn btn-outline-success btn-lg" href="http://kontext.tech/docs/ToolsAndFrameworks/c/docu"> @SharedLocalizer["Learn more"] <i class="fa fa-info-circle"></i></a> <a class="btn btn-outline-primary btn-lg" href="https://github.com/kontext-tech/docu" target="_blank">Source code <i class="fa fa-code"></i></a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron bg-transparent">
                <div class="container text-center">
                    <h1>kontext.tech</h1>
                    <p class="lead">About Big Data,Spark,Hadoop,Zeppelin,Data Analytics,Business Intelligence,C#,.NET Framework,LINQ,SQL Server,ASP.NET,QlikView,Angular,Kontext</p>
                    <p><a class="btn btn-outline-success btn-lg" href="http://kontext.tech"> @SharedLocalizer["Learn more"] <i class="fa fa-info-circle"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" role="button" href="#carouselHomepage" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" role="button" href="#carouselHomepage" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>