<div class="card border-0 bg-transparent">
    <div class="card-body">
        <div class="card-title"><h2>  @SharedLocalizer["Contacts"]</h2></div>
        <ul class="list-group list-group-flush bg-transparent">
            <li class="list-group-item bg-transparent border-0">
                <a href="mailto:contact@example-domain.com" target="_blank" class="text-light">
                    <i class="fa fa-envelope-o"></i> contact@example-domain.com
                </a>
            </li>
        </ul>
    </div>
</div>