@using Kontext.Services;
@inject IConfigService ConfigService
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HtmlHeaderPartial")
    @await RenderSectionAsync("HtmlHeadSection", false)
</head>
<body>
    <div class="container body-content">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 col-sm-7">
                @await Html.PartialAsync("_HtmlSiteNavLogoOnly")
                @RenderBody()
                @await Html.PartialAsync("_HtmlSiteFooterPartial")
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_HtmlScriptPartial")

    @RenderSection("Scripts", required: false)
</body>
</html>
